/* 左导航栏 */
#widget_left_nav{
	background-color: #ddedfa;
}
#widget_left_nav QToolButton{
	color: 0xffffff;
	background-color: none;
    border:none;
    padding: 2px 2px 2px 2px;
}
#widget_left_nav QToolButton:checked{
	color: #3096f8;
}
#widget_left_nav QToolButton:hover{
	color: #ffffff;
	background-color: #2e9eea;
}

/* 分割线 */
#widget_left_nav #HLine{
	background-color: #ddedfa;
	border-top: 1px solid #a0a0a0;
}

/* 状态栏 */
QStatusBar{
	background-color: #117ee0;
}
QStatusBar::item{
    border: none;
}
/* 分裂器 */
QSplitter::handle {
	background-color: #117ee0;
	border: none;
}

QSplitter::handle:horizontal {
    width: 8px;
}

QSplitter::handle:vertical {
    height: 8px;
}

QSplitter::handle:pressed {
    background-color: #c2c2c2;
}