/* 左导航栏 */
#widget_left_nav{
	background-color: #ddedfa;
}
#widget_left_nav QToolButton{
	color: 0xffffff;
	background-color: none;
    border:none;
    padding: 2px 2px 2px 2px;
}
#widget_left_nav QToolButton:checked{
	color: #3096f8;
}
#widget_left_nav QToolButton:hover{
	color: #ffffff;
	background-color: #2e9eea;
}

/* 分割线 */
#widget_left_nav #HLine{
	background-color: #ddedfa;
	border-top: 1px solid #a0a0a0;
}

/* 状态栏 */
QStatusBar{
	background-color: #117ee0;
}
QStatusBar::item{
    border: none;
}
/* 分裂器 */
QSplitter::handle {
	background-color: #117ee0;
	border: none;
}

QSplitter::handle:horizontal {
    width: 8px;
}

QSplitter::handle:vertical {
    height: 8px;
}

QSplitter::handle:pressed {
    background-color: #c2c2c2;
}

CustomHeaderView #widget_header{
	background-color:qlineargradient(x1:0,y1:1,x2:0,y2:0,stop:0 rgba(17,127,225, 1),stop:1 rgba(48,150,248, 0.5));;
	border-right: 1px solid rgb(230, 230, 230);
}
#CustomHeaderView #widget_header QLabel{
	color: rgb(255, 255, 255);
}
#CustomHeaderView #widget_header QToolButton{
	background-color:none;
  	border:none;
}
#CustomHeaderView #widget_header QToolButton:hover{
	background-color: #2e9eea;
}
#CustomHeaderView #widget_header QToolButton:pressed{
	background-color:palette(highlight);
}
#CustomHeaderView #widget_header QToolButton:checked{
	background-color: #C2C2C2;
}